h1{
    font-size: 40px;
    font-family: Georgia, serif;
    font-weight: bold;
}

h2{
    font: bold 14 px   sans-serif;
}

body{
    text-align: center;
    background-image: url(/repo_clone/img/the-amazing-spider-man-2-6.jpg);
    background-size: cover;
}

header, section, footer, aside, nav, article, hgroup{
    display: block;
}


.agrupar{
    width: 1000px;
    background-image: url(/repo_clone/img/Venom-Venom-versus-Spiderman-Marvel-Comics-Sony-Marvel-Super-Heroes-Marvel-Cinematic-Universe-1552477-wallhere.com.jpg);
    background-size: contain;
    opacity: 0,1;
    margin: 25px auto;
    padding: 40px;
}

header{
    background-color: rgb(51, 170, 170);
}

.cabezera{
    background-color: rgba(190, 65, 65, 0.500);
    border: 3px solid rgb(0, 0, 0);
    
}

.cabezera h1{
    text-align: left;
    padding: 20px;

}

.menu{
    background-color: rgba(141, 133, 133, 0.315);
    padding: 5px 15px; 
    text-align: left; 
    border: 3px solid rgb(0, 0, 0);
}

.menu li{ 
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

.seccion{
    background-color: rgba(0, 0, 0, 0.521);
    margin: 20px;
    width: 58%;
    border: 1px solid rgba(0, 0, 0, 0.377);
    float: left;
}

.columna{
    background-color: rgba(56, 42, 40, 0.404);
    margin: 20px 0px;
    width: 36%;
    border: 1px solid black;
    float: left;
}

.pie{
    clear: both;
    padding: 20px;
    background-color: cornflowerblue;
    font: bold 16px times new roman;
}

.seccion article{
    background-color: rgba(115, 111, 238, 0.63);
    padding: 15px;
    margin: 15px;
    border: 1px solid rgba(245, 245, 245, 0.63);
}

.seccion h2{
    text-align: left;
}

.seccion footer{
    text-align: left;
    padding: 15px;
    color: brown;
}
.seccion p{
    text-align: justify
}

.seccion img{
    width: 200px;
    display: block;
    margin: auto;
    padding: 10px;
}
.columna blockquote{
    border: 3px solid black;
    background-color:rgba(121, 65, 65, 0.63);
    padding: 90px;
    font: bold 18px sans-serif;
}
